<!-- Page header -->
<%= render 'layouts/pageheader' %>
<section class="features clearfix">
	<div class="row">
		<div class="col-lg-4 col-feat">
			<div class="col-header">
				<h3>Columns & Features</h3>
			</div>
		</div><!-- col-feat -->
		<div class="col-lg-4">
			<div class="col-header">
				<h3>Blog</h3>
			</div>
		</div>
		<div class="col-lg-4 visible-desktop visible-tablet">

			<div class="min_by_min">
				<div class="col-header">
					<h3>Goal Alerts</h3>
				</div>
			</div>

			<div class="tab-res">
				<h4>Table & Results</h4>				
				<ul class="nav nav-tabs">
					<li class="active"><a href="#npl" data-toggle="tab">Home</a></li>
					<li><a href="#result" data-toggle="tab">Results</a></li>
				</ul>

				<div id="myTabContent" class="tab-content">
	                <div class="tab-pane fade active in" id="npl">

	                	<%= render 'layouts/nplTable' %>
	                  
	                </div>
	                <div class="tab-pane fade" id="result">
	                  
	                </div>
				</div>
			</div><!-- tab-res-->

	</div>
</section>