<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Oh snap! The form contains <%= pluralize(@user.errors.count, "error") %>. Change a few things up and try submitting again.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
