@import "bootstrap-responsive";

$white : #FFFFFF;
$base-red : #eb6864;

body{padding-top:54px}

/*Navbar tweaks*/

#user_nav{
	

	a{
		display: inline-block;
		padding-top: 19.5px;
		padding-bottom: 19.5px;
	}
}

.signed_in_top{
	font-size: 0.7em;
}

.col-header{
	background : $base-red;
	text-align: center;
	padding: 5px 0;

	h3{
		margin : 0;
		color: $white;
	} 
}


