@import "bootstrap-responsive";
body{padding-top:54px}

/*Navbar tweaks*/

#user_nav{
	

	a{
		display: inline-block;
		padding-top: 19.5px;
		padding-bottom: 19.5px;
	}
}

.signed_in_top{
	font-size: 0.7em;
}


